<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Get all student</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"></script>
</head>
<body class="container w-50">
<table class="table">
    <thead>
    <tr>
        <th scope="col">#Id</th>
        <th scope="col">Name</th>
        <th scope="col">Duration</th>
        <th scope="col">Group</th>
        <th scope="col">Update</th>
        <th scope="col">Delete</th>
    </tr>
    </thead>
    </tbody>
<body>
<div th:each="student:${modelGetAllStudent}">
<td>
    <a th:href="@{/student/{id}(id=${student.getId()})}"></a>

     <a th:text="${student.getId()}"></a>
   <td> <a th:text="${student.getFirstName()}"></a></td>
  <td>  <a th:text="${student.getEmail()}"></a></td>
   <td> <a th:text="${student.getLastName()}"></a></td>
  <td>  <a th:text="${student.getStudy_format()}"></a></td>

    <a th:href="@{/student/{id}/editStudent(id=${student.getId()})}"> Edit </a>

   <td> <form th:method="POST" th:action="@{/student/{id}(id=${student.getId()})}">
        <input type="submit" value="Delete">
    </form></td>

</div>
</body>
</table>
<a style="margin-left: 360px" href="/student/new" type="submit" class="btn btn-primary">new Student</a>
</body>
</html>